@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap");
body,
html {
  background: #000;
  padding: 0;
  margin: 0;
  overflow: hidden;
  color: #fff;
}
* {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  scroll-behavior: smooth;
  scrollbar-color: #fe782bcb transparent;
  scrollbar-width: thin;
}

*::-webkit-scrollbar {
  width: 7px;
}

*::-webkit-scrollbar-track {
  background: transparent;
  border-radius: 10px;
}

*::-webkit-scrollbar-thumb {
  background: #fe7a2b;
  border-radius: 10px;
}

*::-webkit-scrollbar-thumb:hover {
  background: #fe7a2b;
  border-radius: 10px;
}

*::-webkit-scrollbar-thumb:active {
  background: #fe7a2b;
  border-radius: 10px;
}
/* loading screen */
.pace {
  pointer-events: none;
  user-select: none;
  z-index: 2000;
  position: fixed;
  margin: auto;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 400px;
  border: 0px;
  height: 1px;
  overflow: hidden;
  background: #101010;
}

.pace .pace-progress {
  box-sizing: border-box;
  transform: translate3d(0, 0, 0);
  max-width: 400px;
  position: fixed;
  z-index: 2000;
  display: block;
  position: absolute;
  top: 0;
  right: 100%;
  height: 100%;
  width: 100%;
  background: grey;
}

.pace.pace-inactive {
  display: none;
}

#preloader {
  width: 100%;
  height: 100vh;
  background: #101010;
  z-index: 100;
  overflow: hidden;
  position: fixed;
  transition-timing-function: cubic-bezier(0.19, 1, 0.22, 1);
}

.p {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  font-family: "Press Start 2P", cursive;
  font-size: 2em;
}
/* loading screen */
navbar {
  display: none;
}
header {
  position: fixed;
  z-index: 1;
  background: url(../images/frame2.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 684px;
  width: 245px;
  left: 10px;
}

.imgDiv img {
  width: 100px;
  color: #fff;
}
.imgDiv {
  position: relative;
  margin-top: 70px;
  margin-left: 70px;
  z-index: 10;
}

.dropdown-content {
  margin-left: 60px;
  margin-top: 90px;
  position: relative;
}
.pageLink {
  color: #fe7a2b;
  font-size: 10px;
  font-family: "Press Start 2P", cursive;
  padding: 1px 6px 1px 10px;
  margin-bottom: 20px;
  letter-spacing: 4px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}
.pageLink:hover {
  color: #fff;
  text-shadow: 4px 1px 3px #fe7a2b;
  /* letter-spacing: 5px; */
  transform: translateX(50px) scale(1.5);
}
.popUp {
  position: relative;
  display: none;
}
.content {
  position: absolute;
  top: 60vh;
  left: 45vw;
  z-index: 100;
  transform: translate(-50%, -50%);
  z-index: 1;
  color: #fff;
  text-align: center;
}
.content .text {
  position: absolute;
  top: 0;
  left: 0;
  width: 130%;
  height: 100%;
  background: linear-gradient(
    217deg,
    rgba(0, 0, 0, 0.542),
    rgba(0, 0, 0, 0.364)
  );
  border-radius: 5px;
  font-size: 28px;
}
.content img {
  position: relative;
  width: 130%;
}
.info {
  text-align: left;
  overflow-x: hidden;
  overflow-y: auto;
  height: 65%;
  width: 85%;
  margin-left: 10%;
  margin-top: 3%;
}
.plName {
  font-size: 2rem;
  text-align: center;
}

a {
  text-decoration: none;
  color: #fff;
}
#backButton {
  color: rgb(0, 0, 0);
  background: #fe7a2b;
  border-radius: 100px;
  border: none;
  padding: 20px 40px;
  font-size: 20px;
  position: fixed;
  top: 5%;
  right: 2%;
  cursor: pointer;
  font-family: "Press Start 2P", cursive;
  transition: all 0.3s ease-in-out;
}
#backButton:hover {
  letter-spacing: 3px;
  background: #5ce1e6;
  transform: scale(1.1);
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  header {
    display: none;
  }
  navbar {
    display: flex;
    position: fixed;
    height: 60px;
    width: 100vw;
    top: 0;
    left: 0;
    padding: 10px 0;
    justify-content: space-evenly;
  }
  #logo {
    width: 60px;
  }
  navbar a {
    line-height: 60px;
    list-style: none;
    font-size: 0.8em;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  header {
    display: none;
  }
  navbar {
    display: flex;
    position: fixed;
    height: 60px;
    width: 100vw;
    top: 0;
    left: 0;
    padding: 10px 0;
    justify-content: space-evenly;
  }
  #logo {
    margin-left: -20px;
    width: 60px;
  }
  navbar a {
    line-height: 60px;
    list-style: none;
    font-size: 1.2em;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  header {
    display: none;
  }
  navbar {
    display: flex;
    position: fixed;
    height: 60px;
    width: 100vw;
    top: 0;
    left: 0;
    padding: 10px 0;
    justify-content: space-evenly;
  }
  #logo {
    margin-left: -20px;
    width: 60px;
  }
  navbar a {
    line-height: 60px;
    list-style: none;
    font-size: 1.5em;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  header {
    display: block;
  }
  navbar {
    display: none;
  }
}
